:root {
   --command-palette-enhancer-setting-suggest-select-width: 14px;
   --command-palette-enhancer-command-info-height: 14px;
   --command-palette-enhancer-command-info-height-offset: 2px;
   --command-palette-enhancer-icon-close: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
}

/* setting */

.command-palette-enhancer-history-ignore-list:after {
  content: "";
  display: block;
  clear: both;
  padding-bottom: 20px;
}

.command-palette-enhancer-history-ignore-item {
  float: left;
  border: solid 1px #ccc;
  border-radius: 4px;
  margin: 0 10px 5px 0;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.command-palette-enhancer-history-ignore-item-remove {
  mask: var(--command-palette-enhancer-icon-close) no-repeat 50% 50%;
  background-color: var(--text-normal);
  cursor: pointer;
  margin-right: 10px;
  width: 0.6em;
  height: 0.6em;
}

/* workspace */

.command-palette-enhancer-suggestion-info {
	position: absolute;
	top: 100%;
	left: 45px;
	margin-top: calc(0px - var(--command-palette-enhancer-command-info-height) / 2 - 12px / 2);
	line-height: 1;
	font-size: 12px;
	color: #8d8d8d;
}

.prompt .suggestion-item .suggestion-content {
	padding-inline-start: 30px;
}

.prompt .suggestion-item:has(.command-palette-enhancer-suggestion-flair) .suggestion-content {
	padding-inline-start: 10px;
}

.prompt .suggestion-item {
	position: relative;
	padding-bottom: calc(var(--command-palette-enhancer-command-info-height) + var(--command-palette-enhancer-command-info-height-offset));
}

.command-palette-enhancer-command-suggest {
	transform: translateX(-100%);
}
